body {
	margin:0px;
	padding:0px;
	background-color:#eee !important;
	font-family: 'Lato', sans-seriff!important;
	height:100%;
}

html {
	height:100%;
}

#mainContent {
	width:80%;
	margin-left:10%;
	background-color:white;
	margin-top:10px;
	position:absolute;
    border-top: 2px solid #ccc;
}

/**
 * Operations pane
 */

#operations label {
    font-weight: initial !important;
}

#operations {
	padding:5px;
}

#operations i {
    font-size: 1em;
}

#operations .filter {
    display: none;
}

#operations #textFilter {
    width: 100%;
}

#operations #numberFilterFrom, 
#operations #numberFilterTo,
#operations #selectFilterSelect, 
#operations #selectFilterInput {
    width: 50%;
}

#operations #filterSelect {
    width:30%;
}

#operations .btn {
    height: 34px!important;
}

/**
 * Bootstrap patch
 */

@media(max-width:991px){
    .text-left-sm {
        text-align: left ! important;
    }
    
    #entriesChecker {
        margin-top:15px;
    }
}

.col-xs-offset-0 {
    margin-left:0px !important;
}

/**
 * Table styles
 */



#tableContent .operationsColumn div {
	width:150px;
}

#tableHeader {
    border-bottom:1px solid #ccc;
    margin-bottom:15px;
}
 
#tableDesc {
    display:none;
    padding:10px;
}

#tableName {
    
    padding:10px;
    font-weight:bold;
    font-size:1.3em;
}

#tableName i:hover {
    color:#aaa;
}

#tableName i {
    color:#ccc;
    font-size: 0.8em;
    cursor:pointer;
}

#tableContent {
	font-size:1.3em;
	font-color:#555;
	margin:10px;
	overflow-x: auto;
}

#tableContent table tr td {
    cursor: pointer;
}

#tableContent table{
	padding:5px;
	width:100%;
}

#tableContent table thead {
	font-weight:bold;
}

#tableContent table tr td, #tableContent table tr th{
	padding:5px;
    min-width: 100px;
}

#tableContent table tr th.id, #tableContent table tr td.id{
    max-width: 20px!important;
    min-width: 10px !important;
}

#tableContent table tr td span.select {
	float:right;
	padding:5px;
}

#tableContent td.operationsColumn div {
	width:120px;
}

.highlighted {
    background-color:#efefef;
}

#tableContent table i.filterIcon {
    cursor: pointer;
    color: #999;
}

#tableContent table i.filterIcon:hover {
    color: #000;
}


/**
 * Form styles
 */

.crud-formItem select {
	width:100%;	
}

.crud-formItem {
	margin-bottom:5px;
	font-size:1.3em;
	font-color:#555;
	/*height:45px;*/
}

.crud-formItem label {
	margin-right:5px;
}

.crud-formItem input[type=text], .crud-formItem input[type=number] {
	width:100%;
}

.crud-formItem input, .crud-formItem select, .crud-formItem fieldset {
	margin-top: 5px;
}

.crud-formItem fieldset.crud-group {
	margin-top:5px;
}

.crud-formItem fieldset {
	border:1px solid #ccc;
}

form {
	margin-top:15px;
	margin-bottom:15px;
	border: 1px solid #aaa;
	padding:10px;
}

form div.bttns {
	margin-top:15px;
	height:40px;
}

/* Form animations */

#formContent {
	transition: all linear 0.5s;
	opacity: 1;
	/* 15+15+10+10+5*50+15+20 
	height:335px;*/
	overflow:hidden;
}

#formContent.ng-hide {
	opacity: 0;
}

/* messages */

.msg {
	padding:5px;
}

.msg {
	opacity: 1;
}

.msg.ng-hide {
	opacity: 0;
	height:0px;
}

.msg .close {
	float:right;
	color:blue;
	cursor:pointer;
}

#errMsg {
	color: red;
    float:left;
    font-size: 1.3em;
}

#succMsg {
    margin: 20px 5px;
}

.error {
	color:red;
	font-weight:bold;
	padding-top:5px;
	height:30px;
	opacity:1;
	transition: all linear 0.5s;
}

.error.ng-hide {
	height:0px;
	opacity:0;
}

.requiredMark {
	color:red;
	font-weight:bold;
}

.hint {
	cursor: help;
}

fieldset.radio {
	padding:5px;
}

fieldset.radio label.disabled {
	opacity: 0.35;
}

@media (max-width: 768px) {
    #operations div.row div {
        margin:5px 0px;
    }

}

/* Modal window */

.modal-dialog {
    width: 70%;
    height: 90% !important;
    overflow: hidden;
}

.modal-body {
    height: 75%;
    overflow-y: scroll;
}

.modal-content {
    height:100%;
}