body {
	margin:0px;
	padding:0px;
	background-color:#eee !important;
	font-family: 'Lato', sans-seriff!important;
	height:100%;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

html {
	height:100%;
}

#mainContent {
	width:80%;
	margin-left:10%;
	background-color:white;
	margin-top:10px;
	position:absolute;
    border-top: 2px solid #ccc;
}

/**
 * Operations pane
 */

#operations label {
    font-weight: initial !important;
}

#operations {
	padding:5px;
}

#operations i {
    font-size: 1em;
}

#operations .filter {
    display: none;
}

#operations #selectFilter {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#operations #textFilter,
#operations #multiselectFilter + span.select2{
    width: 100% !important;
}
 
#operations #dateFilterFrom, 
#operations #dateFilterTo{
    width: 50%;
}

#operations #filterSelect {
    width:30%;
}

#operations #numberFilter {
    margin-right:10px;
}
/*
#operations #numberFilter .irs-bar,
#operations #numberFilter .irs-line {
    top:20px;
}

#operations #numberFilter .irs-slider.to,
#operations #numberFilter .irs-slider.from {
    display:none;
}*/

#operations .btn {
    height: 34px!important;
}

#operations .select2-selection {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    height:34px;
}

#operations .select2-selection__choice {
    background-color:#fff !important
}

#operations #saveFilter {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

/**
 * Bootstrap patch
 */

@media(max-width:991px){
    .text-left-sm {
        text-align: left ! important;
    }
    
    .col-xs-offset-0 {
        margin-left:0px !important;
    }
    
    #entriesChecker {
        margin-top:15px;
    }
}



/**
 * Table styles
 */



#tableContent .operationsColumn div {
	width:150px;
}

#tableHeader {
    border-bottom:1px solid #ccc;
    margin-bottom:15px;
}
 
#tableDesc {
    display:none;
    padding:10px;
}

#tableName {
    
    padding:10px;
    font-weight:bold;
    font-size:1.3em;
}

#tableName i:hover {
    color:#aaa;
}

#tableName i {
    color:#ccc;
    font-size: 0.8em;
    cursor:pointer;
}

#tableContent {
	font-size:1.3em;
	font-color:#555;
	margin:10px;
	overflow-x: auto;
}

#tableContent table tr td.dataCol {
    cursor: pointer;
}

#tableContent table{
	padding:5px;
	width:100%;
}

#tableContent table thead {
	font-weight:bold;
}

#tableContent table tr td, #tableContent table tr th{
	padding:5px;
}

#tableContent table tr th.id, #tableContent table tr td.id{
    max-width: 20px!important;
    min-width: 10px !important;
}

#tableContent table tr td span.select {
	float:right;
	padding:5px;
}

#tableContent td.operationsColumn div {
	width:120px;
}

#tableContent tr.highlighted, #tableContent tr.highlighted2 {
    background-color:#efefef;
}

#tableContent table th i.filterIcon{
    cursor: pointer;
    color: #999;
    font-size: 15px;
    display:none;
    position:absolute;
    right:5px;
    margin-top:5px;
}

#tableContent table th i.sortIcon{
    cursor: pointer;
    color: #999;
    font-size: 15px;
    display:none;
    position:absolute;
    right:20px;
    margin-top:5px;
}

#tableContent table th i.filterIcon:hover,
#tableContent table th i.sortIcon:hover {
    color: #000;
}

#tableContent table th:hover i.filterIcon,
#tableContent table th:hover i.sortIcon {
    display:inline;
}

#tableContent table th i.filterIcon.highlighted,
#tableContent table th i.sortIcon.highlighted {
    display:inline !important;
    color:#000;
}

#tableContent table th i.filterIcon.highlighted2,
#tableContent table th i.sortIcon.highlighted2{
    display:inline !important;
}

#tableContent table th {
    white-space: nowrap;
    position:relative;
}

/**
 * Form styles
 */

.crud-formItem select {
	width:100%;	
}

.crud-formItem {
	margin-bottom:5px;
	font-size:1.3em;
	font-color:#555;
	/*height:45px;*/
}

.crud-formItem label {
	margin-right:5px;
}

.crud-formItem input[type=text], .crud-formItem input[type=number] {
	width:100%;
}

.crud-formItem input, .crud-formItem select, .crud-formItem fieldset {
	margin-top: 5px;
}

.crud-formItem fieldset.crud-group {
	margin-top:5px;
}

.crud-formItem fieldset {
	border:1px solid #ccc;
}

form {
	margin-top:15px;
	margin-bottom:15px;
	border: 1px solid #aaa;
	padding:10px;
}

form div.bttns {
	margin-top:15px;
	height:40px;
}

/* Form animations */

#formContent {
	transition: all linear 0.5s;
	opacity: 1;
	/* 15+15+10+10+5*50+15+20 
	height:335px;*/
	overflow:hidden;
}

#formContent.ng-hide {
	opacity: 0;
}

/* messages */

.msg {
	padding:5px;
}

.msg {
	opacity: 1;
}

.msg.ng-hide {
	opacity: 0;
	height:0px;
}

.msg .close {
	float:right;
	color:blue;
	cursor:pointer;
}

#errMsg {
	color: red;
    float:left;
    font-size: 1.3em;
}

#succMsg {
    margin: 20px 5px;
}

.error {
	color:red;
	font-weight:bold;
	padding-top:5px;
	height:30px;
	opacity:1;
	transition: all linear 0.5s;
}

.error.ng-hide {
	height:0px;
	opacity:0;
}

.requiredMark {
	color:red;
	font-weight:bold;
}

.hint {
	cursor: help;
}

fieldset.radio {
	padding:5px;
}

fieldset.radio label.disabled {
	opacity: 0.35;
}

@media (max-width: 768px) {
    #operations div.row div {
        margin:5px 0px;
    }

}

/* Modal window */

.modal-dialog {
    width: 70%;
    height: 90% !important;
    overflow: hidden;
}

.modal-body {
    height: 75%;
    overflow-y: scroll;
}

.modal-content {
    height:100%;
}

.datepicker {
    z-index:1151 !important;
}

#viewModal #viewRecordContent .recordView {
    padding-bottom: 15px;
}

#viewModal #viewRecordContent{
    width: 100%;
}

#viewModal label {
    background-color:#eee;
    width:100%;
    padding:5px;
}