<!DOCTYPE html>
<html>
	<div class="radio radio-info radio-inline" ng-repeat="item in $ctrl.availableOpts" >
		<input 
			type="radio" 
			id="radio_{{$ctrl.name}}_{{item.name}}"
			ng-disabled="!item.id.match($ctrl.pattern)"
			ng-required="$ctrl.required" 
			name="{{$ctrl.name}}" 
			ng-click="$ctrl.model=item.id" 
			value="{{item.id}}" 
			ng-checked="$ctrl.model==item.id"
			ng-pattern="$ctrl.pattern"
			ng-model="$ctrl.model" /> 
		<label for="radio_{{$ctrl.name}}_{{item.name}}" ng-class="$ctrl.getClass(item)">
			{{item.name}}
		</label>
	</div>
</html>