<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
		<title>CRUD Frontend Application</title> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link href="https://fonts.googleapis.com/css?family=Lato&subset=latin-ext" rel="stylesheet"> 
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://flatlogic.github.io/awesome-bootstrap-checkbox/bower_components/Font-Awesome/css/font-awesome.css">
		<link href="css/style.css" rel="stylesheet" type="text/css" />		
		<link href="css/awesome-bootstrap-checkbox.css" rel="stylesheet" type="text/css" />		
	</head> 

	<body ng-app="CRUDApp">
		<div id="mainContent" ng-controller="CRUDAppController">
			<div id="tableHeader">
				<div id="tableName">Tabela nr 1 <i data-placement="right" data-toggle="tooltip" title="show/hide description" class="fa fa-chevron-down"></i></div>
				<div id="tableDesc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor eros convallis nisi vehicula gravida. Vivamus ultricies mi a risus egestas tempor. Donec mollis, nulla sit amet tempor vulputate, libero dui placerat libero, ultrices dapibus risus massa et urna. 
				</div>
			</div>
			<div id="succMsg" class="msg bg-success" ng-show="succMsg!=''">
				{{succMsg}}
                <button type="button" class="close" ng-click="deleteMsg('succ')">&times;</button>
			</div>
			
            <div id="operations" class="container-fluid">
                <div class="row">
                    
                    <div class="col-xs-12">
                        <div id="filterContainer" class="col-xs-12 col-md-6">
                            <div class="input-group">
                                <input class="form-control" ng-model="textFilter" placeholder="filter" id="textFilter" ng-class="'filter'" type="text">
                                <input class="form-control" ng-model="numberFilterFrom" placeholder="from" id="numberFilterFrom" ng-class="'filter'" type="number">
                                <input class="form-control" ng-model="numberFilterTo" placeholder="to" id="numberFilterTo" ng-class="'filter'" type="number">
                                <select ng-change="filter.updateSelectFilter()" ng-model="selectFilterSelect" class="form-control" id="selectFilterSelect" ng-class="'filter'">
                                    <option value=""></option>
                                    <option value="{{op.id}}" ng-repeat="op in filter.availableOpts">
                                        {{op.name}}
                                    </option>
                                </select>
                                <input data-placement="bottom" data-toggle="tooltip" title="Separate items by 'or' or 'and'" class="form-control" ng-model="selectFilter" placeholder="filter" id="selectFilterInput" ng-class="'filter'" type="text">
                                <select ng-model="filter.checkboxFilter" class="form-control" id="checkboxFilter" ng-class="'filter'">
                                    <option value="true" ng-selected="true">true</option>
                                    <option value="false">false</option>
                                </select>
                                
                                <div id="filterSelect" class="input-group-btn">
                                    <select class="form-control" ng-change="filter.update()" ng-model="filter.column" data-placement="bottom" data-toggle="tooltip" title="Select filter column">
                                        <option ng-show="md.showInTable" ng-repeat="md in metadata | orderBy:'order'">{{md.name}}</option>
                                    </select> 
                                </div>
                                <span class="input-group-btn"> 
                                    <button ng-show="!filter.showAddFilterBtn()" id="delFilter" ng-click="filter.delFilter()" data-placement="bottom" data-toggle="tooltip" title="Delete filter" type="button" class="btn btn-default">
                                        <i class="fa fa-close"></i>
                                    </button> 
                                    <button ng-show="filter.showAddFilterBtn()" ng-click="filter.addFilter()" data-placement="bottom" data-toggle="tooltip" title="Add filter" type="button" class="btn btn-default">
                                        <i class="fa fa-plus"></i>
                                    </button> 
                                </span> 
                            </div>
                        </div>
                        
                        <div id="entriesChecker" class="col-md-offset-1 col-xs-offset-0 col-xs-12 col-md-6 text-right text-left-sm form-inline">
                            <label>
                                Show
                                <select class="form-control">
                                    <option>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                                entries
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">    
                    <div class="col-xs-12">
                        
                        <div class="col-xs-12 col-sm-6 btn-group" style="margin:15px 0px">
                            <button class="btn btn-default" ng-click="addPerson()" ng-hide="showForm" data-placement="bottom" data-toggle="tooltip" title="Add record">
                                <i class="fa fa-plus" ></i>
                            </button>
                            <button class="btn btn-default" data-placement="bottom" data-toggle="tooltip" title="Delete selected records">
                                <i class="fa fa-close" ></i>
                            </button>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 text-right">
                            <ul class="pagination">
                                <li>
                                    <a href="#">First</a>
                                </li>
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">Last</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
			<div id="tableContent">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="operationsColumn">Operations</th>
							<th ng-show="md.showInTable" ng-repeat="md in metadata | orderBy:'order'">
                                {{md.label}}
                                <i data-placement="bottom" data-toggle="tooltip" title="Edit filter" ng-click="filter.showFilter(md.name)" ng-show="filter.showFilterIcon('{{md.name}}')" class="fa fa-filter" ng-class="'filterIcon'"></i>
                            </th>
						<tr>
					</thead>	
					<tbody>
						<tr class="dataRow" ng-repeat="person in persons">
							<td class="operationsColumn">
								<div class="form-inline">
                                    <span class="bttns btn-group">
										<button data-placement="right" data-toggle="tooltip" title="Edit this record" class="btn btn-default" ng-click="editPerson(person.pesel)">
											<span class="glyphicon glyphicon-pencil" ></span>
										</button>
										<button data-placement="right" data-toggle="tooltip" title="Delete this record" class="btn btn-default" ng-click="deletePerson(person.pesel)">
											<span class="glyphicon glyphicon-remove" ></span>
										</button>
                                        <button data-placement="right" data-toggle="tooltip" title="Show this record" class="btn btn-default" >
											<span class="fa fa-eye" ></span>
										</button>
									</span>
								</div>
							</td>
                            <td ng-show="md.showInTable" ng-repeat="md in metadata | orderBy:'order'">
                                {{person[md.name] | booleanToYesNo | arrayToString}}
                            </td>
						</tr>
					</tbody>
				</table>
			</div>
            
            <div class="row">    
                <div class="col-xs-12">

                    <div class="col-xs-12 col-sm-6 btn-group" style="margin:15px 0px">
                        <button class="btn btn-default" ng-click="addPerson()" ng-hide="showForm" data-placement="bottom" data-toggle="tooltip" title="Add record">
                            <i class="fa fa-plus" ></i>
                        </button>
                        <button class="btn btn-default" data-placement="bottom" data-toggle="tooltip" title="Delete selected records">
                            <i class="fa fa-close" ></i>
                        </button>
                    </div>

                    <div class="col-xs-12 col-sm-6 text-right">
                        <ul class="pagination">
                            <li>
                                <a href="#">First</a>
                            </li>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div id="formModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="toggleForm()">&times;</button>
                            <h4 class="modal-title">{{modalTitle}}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="formContent">
                                <form novalidate name="personForm">
                                    <span ng-init="initGlobalVariables()"></span>

                                    <crud-input ng-repeat="md in metadata | orderBy:'order'"
                                        type="{{md.type}}"
                                        name="{{md.name}}"
                                        errormessages="md.errorMessages"
                                        model="person[md.name]"
                                        assignparams="md.assignParams"
                                        change="assign(assgnprms)"
                                        valid="evalPattern(params)"
                                        validations="md.validations"
                                        desc="{{md.desc}}"
                                        availableopts="md.availableOpts"
                                        updateon="{{md.updateOn}}"
                                        listenon="random">
                                        {{md.label}}:
                                    </crud-input>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div id="errMsg" class="msg bg-danger" ng-show="errMsg!=''">
                                {{errMsg}}
                            </div>
                            <div class="bttns">
                                <button class="btn btn-default" ng-click="toggleForm()">Cancel</button>
                                <button class="btn btn-default" ng-click="savePerson()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		
		<script>
			//Application configuration data (definitions of fields ect):
            
            $(document).ready(function() {
				$("#tableContent table thead td.operationsColumn").height($("#tableContent table thead").height()-12);
                
                $("#tableName i").click(function() {
                    if ($("#tableName i").hasClass("fa-chevron-down")) {
                        $("#tableName i").removeClass("fa-chevron-down").addClass("fa-chevron-up");
                        $("#tableDesc").show('fast');
                    }
                    else {
                        $("#tableName i").removeClass("fa-chevron-up").addClass("fa-chevron-down");
                        $("#tableDesc").hide('fast');
                    }
                });
                
                $('[data-toggle="tooltip"]').tooltip({
                    trigger : 'hover'
                })  
                
                $(".dataRow").click(function() {
                    $(this).toggleClass("highlighted");
                })
			});
            
            var messages = {
                "communicates": {
                    "successSaveForm": "Changes saved successfully.",  
                },
                "labels": {
                    "addRecord": "Add Record",
                    "editRecord": "Edit Record"
                },
                "errors": {
                    "delete": "Internal error while deleting person",
				    "update": "Internal error while updating person",
				    "add": "Internal error while adding person",
                    "nonUniquePrimaryKey": "Person with this pesel already exists",
                    "validationErrors": "Form contains validation errors.",
                }
            }
			
		</script>
		
		<script src="js/app.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/metadata.js"></script>
		<script src="js/services.js"></script>
		<script src="js/components.js"></script>
		<script src="js/controller.js"></script>
	</body> 
</html> 