<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
		<title>CRUD Frontend Application</title> 
		<script src="js/jquery.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-animate.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/select2.min.js"></script>
        <script src="js/ion.rangeSlider.js"></script>
        <script src="js/moment.min.js"></script>
        <script src="js/daterangepicker.js"></script>
        <script src="js/jspdf.js"></script>
        
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet" type="text/css" />		
        <link href="css/datepicker.css" rel="stylesheet" type="text/css" />	
        <link href="css/select2.min.css" rel="stylesheet" type="text/css" />	
        <link href="css/awesome-bootstrap-checkbox.css" rel="stylesheet" type="text/css" />	
        <link href="css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />	
        <link href="css/ion.rangeSlider.skinModern.css" rel="stylesheet" type="text/css" />	
        <link href="css/daterangepicker.css" rel="stylesheet" type="text/css" />	
	</head> 

	<body ng-app="CRUDApp">
		<div id="mainContent" ng-controller="CRUDAppController">
			<div id="tableHeader">
				<div id="tableName">Tabela nr 1 <i data-placement="right" data-toggle="tooltip" title="show/hide description" class="fa fa-chevron-down"></i></div>
				<div id="tableDesc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor eros convallis nisi vehicula gravida. Vivamus ultricies mi a risus egestas tempor. Donec mollis, nulla sit amet tempor vulputate, libero dui placerat libero, ultrices dapibus risus massa et urna. 
				</div>
			</div>
			<div id="succMsg" class="msg bg-success" ng-show="succMsg!=''">
				{{succMsg}}
                <button type="button" class="close" ng-click="deleteMsg('succ')">&times;</button>
			</div>
			
            <div id="operations" class="container-fluid">
                <div class="row">
                    
                    <div class="col-xs-12">
                        <div id="filterContainer" class="col-xs-12 col-md-4">
                            <div class="input-group">
                                
                                <!-- TextFilter -->
                                <input class="form-control" ng-model="textFilter" placeholder="{{locale.getMessage('labels', 'filterBy')}} {{filter.column}}" id="textFilter" ng-class="'filter'" type="text">
                                
                                <!-- NumberFilter -->
                                <input class="form-control" ng-model="numberFilter" id="numberFilter" ng-class="'filter'" type="text">

                                <!-- DateRangeFilter -->
                                <input class="form-control" ng-model="dateFilter" placeholder="Filter by: {{filter.column}}" id="dateFilter" ng-class="'filter'" type="text">
                                
                                <!-- MultiSelectFilter -->
                                <select ng-model="multiselectFilter" class="form-control" id="multiselectFilter" ng-class="'filter'" multiple="multiple">
                                    <option value="{{op.id}}" ng-repeat="op in filter.availableOpts">
                                        {{op.name}}
                                    </option>
                                </select>
                                
                                <!-- CheckboxFilter -->
                                <select ng-model="filter.checkboxFilter" class="form-control" id="checkboxFilter" ng-class="'filter'">
                                    <option value="" disabled selected hidden>Filter by: {{filter.column}}</option>
                                    <option value="true" ng-selected="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                                
                                <span class="input-group-btn"> 
                                    <button ng-show="!filter.showAddFilterBtn()" id="delFilter" ng-click="filter.delFilter()" data-placement="bottom" data-toggle="tooltip" title="Delete filter" type="button" class="btn btn-default">
                                        <i class="fa fa-close"></i>
                                    </button> 
                                    <button ng-show="!filter.showAddFilterBtn()" ng-click="filter.addFilter()" data-placement="bottom" data-toggle="tooltip" title="Update filter" type="button" class="btn btn-default" id="saveFilter">
                                        <i class="fa fa-check"></i>
                                    </button> 
                                    <button ng-show="filter.showAddFilterBtn()" ng-click="filter.addFilter()" data-placement="bottom" data-toggle="tooltip" title="Add filter" type="button" class="btn btn-default">
                                        <i class="fa fa-plus"></i>
                                    </button> 
                                </span> 
                            </div>
                        </div>
                        
                        <div id="entriesChecker" class="col-md-offset-2 col-xs-offset-0 col-xs-12 col-md-6 text-right text-left-sm form-inline">
                            <label>
                                Show
                                <select class="form-control" ng-model="paging.itemsOnPage" ng-change="paging.update(1)">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">    
                    <div class="col-xs-12">
                        <table-menu></table-menu>
                        <paginator></paginator>
                    </div>
                </div>
            </div>
            
			<div id="tableContent">
                <div class="tableContentInfo">
                    {{locale.getMessage('labels', 'numOfItems')}}: <strong>{{records.length}}</strong> 
                    <span ng-show="records.length!=paging.numOfItems">
                        {{locale.getMessage('labels', 'numOfFilteredItems')}}: 
                        <strong>{{paging.numOfItems}}</strong>
                    </span>
                </div>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th class="operationsColumn">Operations</th>
							<th ng-show="md.showInTable" ng-repeat="md in metadata | orderBy:'order'">
                                {{md.label}}
                                <i data-placement="bottom" data-toggle="tooltip" title="{{locale.getMessage('labels', 'sortBythisCol')}}" ng-click="sort.setSort(md.name)" class="fa fa-sort-amount-asc sortIcon" id="sortIcon_{{md.name}}"></i>
                                <i data-placement="bottom" data-toggle="tooltip" title="{{locale.getMessage('labels', 'editFilter')}}" ng-click="filter.showFilter(md.name)" class="fa fa-filter filterIcon" id="filterIcon_{{md.name}}"></i>
                            </th>
						<tr>
					</thead>	
					<tbody>
						<tr id="{{record[primaryKey]}}" ng-repeat="record in records | sortFilter:sort.column:sort.order!='asc' | tableFilter:filter.filterValues | pagingFilter">
							<td class="operationsColumn">
								<div class="form-inline">
                                    <span class="bttns btn-group">
										<button data-placement="right" data-toggle="tooltip" title="Edit this record" class="btn btn-default" ng-click="editRecord(record)">
											<span class="glyphicon glyphicon-pencil" ></span>
										</button>
										<button data-placement="right" data-toggle="tooltip" title="Delete this record" class="btn btn-default" ng-click="deleteRecord(record)">
											<span class="glyphicon glyphicon-remove" ></span>
										</button>
                                        <button data-placement="right" data-toggle="tooltip" title="Show this record" class="btn btn-default" ng-click="viewRecord(record)">
											<span class="fa fa-eye" ></span>
										</button>
									</span>
								</div>
							</td>
                            <td class="dataCol" ng-show="md.showInTable" ng-repeat="md in metadata | orderBy:'order'" ng-click="toggleSelectRecord(record)">
                                {{record[md.name] | tableValueFilter:record[md.name]:md}}
                            </td>
						</tr>
					</tbody>
				</table>
                <div class="bg-warning tableCommunicate" ng-show="record.length==0">
                    {{locale.getMessage('communicates', 'numOfItemsEqualsZero')}}
                </div>
                <div class="bg-warning tableCommunicate" ng-show="record.length!=0 && paging.numOfItems==0">
                    {{locale.getMessage('communicates', 'numOfFilteredItemsEqualsZero')}}
                </div>
			</div>
            
            <div class="row">    
                <div class="col-xs-12">
                    <table-menu></table-menu>
                    <paginator></paginator>
                </div>
            </div>
            
            <div id="formModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="toggleForm('form')">&times;</button>
                            <h4 class="modal-title">{{modalTitle}}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="formContent">
                                <form novalidate name="recordForm">
                                    <span ng-init="initGlobalVariables()"></span>

                                    <crud-input ng-repeat="md in metadata | orderBy:'order'"
                                        type="{{md.type}}"
                                        name="{{md.name}}"
                                        errormessages="md.errorMessages"
                                        model="record[md.name]"
                                        assignparams="md.assignParams"
                                        change="assign(assgnprms)"
                                        notify="notifyAll()"
                                        valid="evalPattern(params)"
                                        validations="md.validations"
                                        desc="{{md.desc}}"
                                        availableopts="md.availableOpts"
                                        updateon="{{md.updateOn}}"
                                        disabled="{{md.disabled}}"
                                        listenon="random">
                                        {{md.label}}:
                                    </crud-input>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div id="errMsg" class="msg bg-danger" ng-show="errMsg!=''">
                                {{errMsg}}
                            </div>
                            <div class="bttns">
                                <button class="btn btn-default" ng-click="toggleForm('form')">{{locale.getMessage('labels', 'cancel')}}</button>
                                <button class="btn btn-default" ng-click="saveRecord()">{{locale.getMessage('labels', 'submit')}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="viewModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="toggleForm('view')">&times;</button>
                            <h4 class="modal-title">{{locale.getMessage('labels', 'viewModalTitle')}}</h4>
                        </div>
                        <div class="modal-body" id="viewRecordContent">
                            <div ng-show="md.showInRecordView" ng-repeat="md in metadata | orderBy:'order'" class="recordView">
                                <label>{{md.label}}:</label>
                                <div>{{viewedRecord[md.name] | tableValueFilter:record[md.name]:md}}</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="bttns">
                                <!--<button ng-click="exportToPdf()" class="btn btn-default">{{locale.getMessage('labels', 'exportToPdf')}}</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		
		<script src="js/jquery.init.js"></script>
		<script src="js/app.js"></script>
		<script src="js/messages.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/metadata2.js"></script>
		<script src="js/data2.js"></script>
		<script src="js/services.js"></script>
		<script src="js/components.js"></script>
		<script src="js/controller.js"></script>
		<script src="js/directives.js"></script>
	</body> 
</html> 