<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
		<title>CRUD Frontend Application</title> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link href="https://fonts.googleapis.com/css?family=Lato&subset=latin-ext" rel="stylesheet"> 
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://flatlogic.github.io/awesome-bootstrap-checkbox/bower_components/Font-Awesome/css/font-awesome.css">
		<link href="css/style.css" rel="stylesheet" type="text/css" />		
		<link href="css/awesome-bootstrap-checkbox.css" rel="stylesheet" type="text/css" />		
	</head> 

	<body ng-app="CRUDApp">
		<div id="mainContent" ng-controller="CRUDAppController">
			<div id="tableHeader">
				<h2 id="tableName">Tabela nr 1</h2>
				<h4 id="tableDesc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor eros convallis nisi vehicula gravida. Vivamus ultricies mi a risus egestas tempor. Donec mollis, nulla sit amet tempor vulputate, libero dui placerat libero, ultrices dapibus risus massa et urna. 
				</h4>
			</div>
			<div id="succMsg" class="msg" ng-show="succMsg!=''">
				{{succMsg}}
                <button type="button" class="close" ng-click="deleteMsg('succ')">&times;</button>
			</div>
			
            <div id="operations" class="form-inline">
                <label>rows number</label>
                <input class="form-control" id="rowsNr" type="number" />
                <button class="btn btn-default" ng-click="addPerson()" ng-hide="showForm">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    add record
                </button>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    delete records
                </button>
            </div>
			<div id="tableContent">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="id">#</th>
							<th class="operationsColumn">Operations</th>
							<th ng-show="md.showInTable" ng-repeat="md in metadata | orderBy:'order'">
                                {{md.label}}
                            </th>
						<tr>
					</thead>	
					<tbody>
						<tr ng-repeat="person in persons">
							<td class="id">{{$index+1}}</td>
							<td class="operationsColumn">
								<div class="form-inline ">
									<span class="bttns btn-group">
										<button class="btn btn-default" ng-click="editPerson(person.pesel)">
											<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
										</button>
										<button class="btn btn-default" ng-click="deletePerson(person.pesel)">
											<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>
									</span>
									<span class="checkbox">
										<input id="checkbox1" class="styled" type="checkbox">
										<label>
										</label>
									</span>
								</div>
							</td>
                            <td ng-show="md.showInTable" ng-repeat="md in metadata | orderBy:'order'">
                                {{person[md.name] | booleanToYesNo | arrayToString}}
                            </td>
						</tr>
					</tbody>
				</table>
			</div>
            
            <div id="formModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="toggleForm()">&times;</button>
                            <h4 class="modal-title">{{modalTitle}}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="formContent">
                                <form novalidate name="personForm">
                                    <span ng-init="initGlobalVariables()"></span>

                                    <crud-input ng-repeat="md in metadata | orderBy:'order'"
                                        type="{{md.type}}"
                                        name="{{md.name}}"
                                        errormessages="md.errorMessages"
                                        model="person[md.name]"
                                        assignparams="md.assignParams"
                                        change="assign(assgnprms)"
                                        valid="evalPattern(params)"
                                        validations="md.validations"
                                        desc="{{md.desc}}"
                                        availableopts="md.availableOpts"
                                        updateon="{{md.updateOn}}"
                                        listenon="random">
                                        {{md.label}}:
                                    </crud-input>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div id="errMsg" class="msg" ng-show="errMsg!=''">
                                {{errMsg}}
                            </div>
                            <div class="bttns">
                                <button class="btn btn-default" ng-click="toggleForm()">Cancel</button>
                                <button class="btn btn-default" ng-click="savePerson()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		
		<script>
			//Application configuration data (definitions of fields ect):
            
            $(document).ready(function() {
				$("#tableContent table thead td.operationsColumn").height($("#tableContent table thead").height()-12);
			});
            
            var messages = {
                "communicates": {
                    "successSaveForm": "Changes saved successfully.",  
                },
                "labels": {
                    "addRecord": "Add Record",
                    "editRecord": "Edit Record"
                },
                "errors": {
                    "delete": "Internal error while deleting person",
				    "update": "Internal error while updating person",
				    "add": "Internal error while adding person",
                    "nonUniquePrimaryKey": "Person with this pesel already exists",
                    "validationErrors": "Form contains validation errors.",
                }
            }
			
		</script>
		
		<script src="js/app.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/metadata.js"></script>
		<script src="js/services.js"></script>
		<script src="js/components.js"></script>
		<script src="js/controller.js"></script>
	</body> 
</html> 