1. Dodać jakieś domyślne pluginy do daty i multiselekta (albo i nie dodawać -> zastanowić się)
2. Design tabelki i guzików, logika dodawania rekordu w popupie
3. Sortowania tabelki
4. Filtrowanie tabelki
5. Stronnicowanie tabelki
6. Internacjonalizacja
7. Mobilność

BUGI:
+ CRUD błąd: Field 'pseudonym' should contains name or surname.  przy marii skłodowskiej, najpewniej pattern sie nie updatuje
+ przy wyświetlaniu błędu guziki do submitowania wystają poza modal
+ pokazuje błedy na konsoli
+ sprawdzić naruszenie klucza głównego