Release 1:
-> Doprowadzenie do pełnego działania podstawowych funkcji po stronie frontendu, tak aby przez dodanie backendu można było korzystać w pełni z aplikacji jako CRUD

+ Filtry UI:
+ rozkminić uzywanie tego tez na zwykłych formularzach
+ przy wyborze filtra daty musi być pole date-range a nie date, to samo dla liczb
+ placeholder w multiselekcie
+ ikonki do filtra na rozdziałkach telefonicznych
+ Filtrowanie tabelki
+ Przy zmianie filtra (klik na ikonke sitka przy headlinie) strona musi być przeskrolowana do ustawień filtra, żeby było wiadomo jak zmienić filtr.
+ Usuwanie kilku rekordów
+ wartości w tabelki dla multiselecta (i innych pól) muszą pokazywać czytelne dane a nie atrybuty 'value'
+ Sortowania tabelki
+ Widok wiersza (z ew. możliwością eksportu do pdf-a)
+. Refactoring:
+ zamknięcie guzików do stronnicowania w oddzielną dyrtektywę
+ zmiana person na record wszędzie
+ przenieść data do oddzielnego pliku tak jak metadata
+ localization service
+ Klucz główny! Aktualnie jest zhardcodowany na pesel
+ Dodanie pola textarea
+ Jakiś label gdy tabelka jest pusta
+ Zaznaczanie wierszów nie działa
+ Działa tylko na FF (Pod chrome działa ale tylko na serwerze)
+ Stronnicowanie po stronie przeglądarki
+ Min date/Max date - do pola dat. Wywalić długie patterny - pola z datami muszą być readonly - mogą posiadać jakąś ikonkę kalendarza.

- uporządkowanie impomrtów
- ew. sprzątnięcie w kontrolerze

Release 1.5:
-> Nowe pola, drobne ulepszenia dotyczące wyglądu i UI

1. Filtr liczb! Nie da się ustawić konkretnej liczby -> trzeba stworzyć taką możliwość

2. Rozkminić różne ciekawe kontrolki stąd: http://webapplayers.com/inspinia_admin-v2.7/form_advanced.html

3. Zmienić checkbox i radio button na te stąd: http://webapplayers.com/inspinia_admin-v2.7/form_advanced.html

4. Pole dateAndTime

+ Pole do wyboru liczby jakieś fajniejsze, np wypełnianie kółka albo klikanie w pasek (insipnia advanced forms)

+ Różne rodzaje wyświetlania daty w tabeli

6. Wartości defaultowe dla metadaty

7. Metadane na nazwy tabeli i inne preferencje usera dot. wyglądu i zachowania tabeli i formularza

8. Opcja 'zaznacz wszystkie wiersze' (w sensie wszystkie przefiltrowane)

11. Ulepszenia w filtrach (multiselect: or/and, text: regexy itp)

12. Pole image (rounded, circled, bordered itp)

Release 2:
-> Nowe Featur'y

1. Zrobić dyrektywe z tabelki (prostą - skopiować kod html)

2. Po kliknięciu w wiersz tabeli niech otwiera się modal z prezentacją wiersza (export do pdf?)

3. Możliwość generowania wykresów (i przypinania do daszbordu)

4. Internacjonalizacja

5. Sass/Less


Release 3:
-> Backend

1. Stronnicowanie