<!DOCTYPE html>
<html>
    <select
        class="form-control multiselect"
        ng-if="$ctrl.type=='multiselect'"
        ng-required="$ctrl.required"
        name="{{$ctrl.name}}" 
        ng-model="$ctrl.model"
        ng-pattern="$ctrl.pattern"
        ng-disabled="$ctrl.disabled"
        multiple="multiple">
        <option 
            ng-repeat="item in $ctrl.availableOpts"
            value="{{item.id}}"
            ng-disabled="!item.id.match($ctrl.pattern)">
            {{item.name}}
        </option>
    </select>
    
    <select
        class="form-control"    
        ng-if="$ctrl.type=='select'"
        ng-disabled="$ctrl.disabled"
        ng-required="$ctrl.required"
        name="{{$ctrl.name}}" 
        ng-model="$ctrl.model"
        ng-pattern="$ctrl.pattern">
        <option value=""></option>
        <option 
            ng-repeat="item in $ctrl.availableOpts"
            value="{{item.id}}"
            ng-disabled="!item.id.match($ctrl.pattern)">
            {{item.name}}
        </option>
    </select>
</html>