<!DOCTYPE html>
<html>
    
    <div class="col-xs-12 col-sm-6 text-right">
        <ul class="pagination">
            <li>
                <span class="clickable" ng-click="paging.update(1)">{{locale.getMessage('labels', 'first')}}</span>
            </li>
            <li ng-repeat="page in paging.visiblePages">
                <span ng-class="paging.calculateClass(page)" ng-click="paging.update(page)">{{page}}</span>
            </li>
            <li>
                <span class="clickable" ng-click="paging.update(paging.last)">{{locale.getMessage('labels', 'last')}}</span>
            </li>
        </ul>
    </div>
    
</html>