<!DOCTYPE html>
<html>

    <div class="col-xs-12 col-sm-6 btn-group" style="margin:15px 0px">
        <button class="btn btn-default" ng-click="addRecord()" ng-hide="showForm" data-placement="bottom" data-toggle="tooltip" title="Add record">
            <i class="fa fa-plus" ></i>
        </button>
        <button class="btn btn-default" data-placement="bottom" data-toggle="tooltip" title="Delete selected records">
            <i class="fa fa-close" ></i>
        </button>
    </div>
    
</html>